<div class="row">
  <div class="col justify-content-start">



    <div class="jumbotron">

      <h1>React Rockstar Ninja Developer newsletter</h1>
      <p class="lead">Learn all about the recent React deep-dive and technology insights for better developer
        productivity & performance.</p>

      <p>Join 200,000 developers for free</p>
      <a class="btn btn-primary" href="#" role="button">Sign up!</a>

      <iframe src="http://localhost:3001/html/twitter.html"></iframe>

    </div>

  </div>
</div>